html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

p {
  text-align: center ;
  font-size: 50px ;
  font-family: 'Abril Fatface', sans-serif;
}

.container {
  background-color: #42f4a7;
  display: flex;
  justify-content: space-between;
}

.header {
  font-family: 'Abril Fatface', sans-serif;
  display: inline-flex;
  float: left;
  background-color: #42f4a7;
  width: 50%;
  font-size: 25px;
  padding: 1%;
}

figcaption {
  overflow: scroll ;
  font-family: 'Geo', sans-serif ;
}

.image-position {
  padding-left: 35px ;
  padding-right: 15px ;
}

.menu a:link {
   text-decoration: none ;
}

.menu a:hover{
  color: red ;
  }

.menu {
  background-color: #42f4a7;
  width: 50%;
  height: auto;
  display: inline-flex;
}

.menu ul {
  list-style-type: none ;
  margin-left: 15%;
}

.menu li {
  float: left ;
  margin: 25px ;
  font-family: 'Abril Fatface', sans-serif;
  font-size: 20px ;
}

.image-header {
  font-size: 100px;
  background-color: #2471A3;
  text-align: center;
}

.images ul {
  display: inline-flex;
  list-style-type: none;
  margin: 10%;
}

.other-images ul {
  display: inline-flex;
  list-style-type: none;
}

/*.images ul li {
  float: left;
  display: inline-flex;
  border: 2px solid;
  font-size: 50px;
}*/

.images ul li img {
  width: 500px;
  max-width: 100%;
  height: auto;
  transform: rotate(90deg);
}

.other-images ul li img {
  width: 500px;
  max-width: 100%;
  height: auto;
  transform: rotate(360deg);
}

.contact-page {
  
}

.contact-page ul {
  list-style-type: none;
  font-family: 'Abril Fatface', sans-serif;
  font-size: 20px;
}

.contact-page a:link{
  text-decoration: none;
}

.blog-body {
  font-size: 50px;
  font-family: 'Abril Fatface', sans-serif;
}

.blog-body a:link {
  text-decoration: none;
}